@using MyFreeFormForm.Helpers
@model MyFreeFormForm.Models.DynamicFormModel
@using static MyFreeFormForm.Models.Form
@using static MyFreeFormForm.Models.FormNotes

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar for Uploaded Documents -->
        <div class="col-md-3">
            <div class="p-3 border bg-light">
                <h5>Uploaded Documents</h5>
                <div id="uploadedDocumentsPanel">
                    @Html.Partial("_UploadedDocuments")
                </div>
            </div>
        </div>

         <!--Form Notes-->
         <div class="col-md-3">
            <div class="p-3 border
                bg-light">
                <h5>Form Notes</h5>
                <div id="formNotesPanel">
                    @Html.Partial("_formNotes", Model.FormNotes)
                </div>
            </div>
        </div>

        <!-- Main content area -->
        <div class="col-md-9">

            <!-- Search Bar -->
@*             <div class="mb-3">
                <form asp-controller="FormsSearch" asp-action="SearchForms" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" name="searchTerm" placeholder="Search forms...">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </form>
            </div> *@

            <!-- Button Div -->
            <div id="Btn-Div" class="mb-3">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadModal">
                    Upload Excel/CSV File
                </button>
                <button type="button" id="addFieldBtn" class="btn btn-primary">Add Field</button>
                <button asp-action="SubmitMultipleDynamicForms" disabled="true" asp-route-action="multipleDynamic" method="post" id="submitAllData" type="submit" class="btn btn-primary">Submit All</button>
                <button type="button" id="createTemplate" disabled="true" class="btn btn-primary">Create template</button>
                <button id="addNoteBtn" type="button" class="btn btn-primary">Add Note</button>
                <button onclick="window.print()" class="no-print">Print this form</button>
                @* <button type="button" id="hideSpinnerBtn" class="btn-secondary">hide spinner</button>*@
            </div>

            <!-- Form Number Input -->
            <div class="mb-3">
                <label for="formNumberInput">Enter Form Number:</label>
                <input type="number" id="formNumberInput" class="form-control short-input" min="1" placeholder="Form number" />
                <button id="goToFormBtn" class="btn btn-secondary mt-2">Go to Form</button>
            </div>

            <!-- Dynamic Form -->
            <div id="dynamicForm">
                    <form asp-action="SubmitDynamicForm" asp-route-action="dynamic" method="post">
                        <div>
                            <label for="FormName">Form Name</label>
                            <input type="text" id="FormName" name="FormName" class="form-control" />
                        </div>
                        <div>
                            <label for="Description">Description</label>
                            <input type="text" id="Description" name="Description" class="form-control" />
                        </div>
                        <div>
                            <label for="UserId">User Id</label>
                            <input type="hidden" id="userId" name="UserId" value="@Model.UserId" />
                        </div>
                        @for (int i = 0; i < Model.Fields.Count; i++)
                        {
                               <div class="form-group dynamic-field" id="field-group-@i">
                                <label>@Model.Fields[i].FieldName</label>
                                <input id="Field-Value" placeholder="" title="Field-vaule" type="@Model.Fields[i].FieldType.ToString().ToLower()" name="Fields[@i].FieldName" class="form-control" />
                                <!-- Include a button to remove the field -->
                                <button type="button" class="remove-field-btn">Remove</button>
                            </div>
                        }
                        <button id="staticSubmitBtn" style="display:block" type="submit" class="btn btn-primary">Submit Form</button>
                    </form>                
            </div>

            <!-- Modal -->
            <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="uploadModalLabel">Upload File</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="uploadForm" asp-controller="Forms" asp-action="UploadFile" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="fileUpload" class="form-label">Select file</label>
                                    <input type="file" class="form-control" id="fileUpload" name="fileUpload">
                                </div>
                                <button type="submit" class="btn btn-primary">Upload</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carousel -->
            <div id="dataCarousel" class="carousel slide mt-3" style="display: none;">
                    <div id="carouselInner" class="carousel-inner">
                        <div>
                            <label for="FormName">Form Name</label>
                            <input type="text" id="FormName" name="FormName" class="form-control" />
                        </div>
                        <div>
                            <label for="Description">Description</label>
                            <input type="text" id="Description" name="Description" class="form-control" />
                        </div>
                        <div>
                            <label for="UserId">User Id</label>
                             <input type="hidden" id="userId" name="UserId" value="@Model.UserId" />
                        </div>


                        @for (int i = 0; i < Model.Fields.Count; i++)
                        {
                            <div class="carousel-item @if(i == 0) {
                        <text>active</text> }">
                                <form asp-action="SubmitDynamicForm" asp-route-action="dynamic"  method="post">
                                    <div class="form-group dynamic-field" id="field-group-@i">
                                        
                                        <label>@Model.Fields[i].FieldName</label>
                                        <input id="Field-Value" type="@Model.Fields[i].FieldType.ToString().ToLower()" name="Fields[@i].FieldName" class="form-control" />
                                        <!-- Include a button to remove the field -->
                                        <div class="notes-section"  id="notesSection-@i"></div>
                                        <button type="button" class="remove-field-btn">Remove</button>
                                    </div>
                                </form>

                            </div>
                        }
                    </div>
                    <button id="customPrevBtn" class="btn btn-info">Previous</button>
                    <button id="customNextBtn" class="btn btn-info">Next</button>
                    <div class="carousel-index" aria-live="polite">
                        <span id="currentSlide">1</span> of <span id="totalSlides">X</span>
                    </div>
                </>
            </div>

            <!-- Optional: Other Elements -->
            <!-- Loading Spinner -->            
                    @Html.Partial("_loadingSpinner")  
        </div>
    </div>
</div>